# J-Quants API Quick Startガイド

In [4]:
#@title 初期設定＆各種import
#@markdown ←にある▶ボタンを押すとGoogle Colabでコードを実行することができます。

#@markdown まずはこちらのコードを実行し、J-Quants APIを利用するため必要なパッケージをimportしましょう。

import json
import sys
import requests

from IPython.display import display
import pandas as pd

pd.set_option("display.max_columns", None)

API_URL = "https://api.jquants.com"

## Step1：API利用開始までの流れ　※初回のみ実施

J-Quants APIのご利用を検討いただき、ありがとうございます。

**J-Quants APIをご利用いただくには、以下の2つを事前に行っていただく必要がございます。**
 1. [J-Quants Webサイト](https://jpx-jquants.com/)への登録
 2. J-Quants API利用のためのプラン（Free, Light, Standard, Premium）選択

まだ、ご登録もしくはプラン選択がお済みでない方は、まず上記の2項目を行っていただきますようお願いいたします。  
より具体的な手順は[こちら](https://jpx.gitbook.io/j-quants-ja/outline/getstarted)をご参照ください。

##Step2及びStep3：リフレッシュトークン取得 & idToken取得
リフレッシュトークンを取得するには2つの方法があります。
1. J-Quants Webサイトへログインし、リフレッシュトークンを取得するボタンからリフレッシュトークンを取得する方法
2. リフレッシュトークン取得APIを利用し、リフレッシュトークンを取得する方法

以下に記載のどちらかお好みの方法でリフレッシュトークン及びidTokenを取得してください。

In [5]:
#@title **1.J-Quants Webサイトから取得したリフレッシュトークンを貼り付ける場合**
#@markdown J-Quants Webサイトにて取得したリフレッシュトークンを以下の「ここにtextを挿入」の箇所に貼り付けてください。

refreshtoken = "eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.MNGQkpqi6oR5I4OBWSs-J0F3jEPOQDhTApZnTe8n54RCVEC4YySL_fFfQ7kyPGMKq7K5XESJBgjfOq95dA8ASgsgDuqD4xR_FhgIjQwPVuGPx5w7mA-qRFQv8ywURg3TdTSHI6Q5H_LtOPW6SI1_qjWY8kN3hAdyuZK6Gt4MtXO-zDD7b60KC_xQw-uuyQbXqhqbWX0ESqiYZ6-2_Ilu_GGNq7mFMpTroMSaOfqZURPXKUMWaRuwgtUMPZuinjToArcUeZ4ZFACDqjqCq1iFK6coVVqQ1cV_WSuJX3Z7aumTV06dfOlscs9WHdd9192deOAPpScDphaxUjd3PpsvNQ.egagmb24owuZeR_r.eV1bkAFNQz2LjskLlKhjoCfNyp-5iqifP21BPeo8nf9UODnixonwIUUVK1zKlc873SfJjuz0fecqUXDGwgZBu_Ro13m5hB8n6lKLM4T1gfm-rJJJlDshrvPiZlekxr7ZRAWVZBjvQvWgsTuvj0RMEsNomHMUOi6kJ4PnQhNczK7TNyrlzJFRWvl3redENdeabbBezaYA8A3vord9FFbobamKJqpxCSaKVqaHtDyKA4zDUJe1jgYNO-Ubx0vWF5GPe-jw7N9f-5x0kFKkf1EYjaBAhmnItRjgACfrhIcuXdysLUMTJZoKo3iGCV197a1-A5fitYcAR80K4X2lx9EqgiDkwyFxGiELo_OwYlKo_oEIxK9We3obwDKGQKdGgcM135W4ntmSn1hP2gbGRvLrIdj3v1sdlBHwBKsyMWjlSQg71yJkb0oauqrkhYFJKaCUBTDE1aY9De6r1dwiHjX8QlTbrMdlnUllJKFlvCLKOZDGRGtmBcgBrx9Qkb3JPuACTUvXIr16P5dXN6BEtJdKWK5jY1v2xjEwv5nyS_wJ4w7Miws_-rx_ByHUfMQTUMOPZdj-bkqwGoNIPE-UusW63d4iPwB6iTSL7W6GuVovcDHWzsnNE3eyyz-aSSoBDC6q_TFWA45o3ba2dgHh5krnvQmNL-x6pr27XZyPvgMiBZVzAF9-VW7Jdztrw_CLY_snbThkREK7nPxlZ0h1AN3DDVuP8w01TOc9g7LdDuuihTj3hQiL62dQ5Zock7P9bbDr0ivcaidu0PTHhpPtNWfyjyEyRDJNJtA_tdOV6NSaqneUT1Hd8Q7tpbMCRpw0Rifdak6zOXaTW_Sx1xF2NIRThwjkaZKTY4epCVcN25vm1tPqYWW0USY24jblamEKZeuq-F1u0tHAQ45vCT2dVpZPpslbSNtCyWU0NPts2uSJqzHJ_y510eZ2RlYIu8DwRg43TX45r20iebFuhu0cg3DQ9ycMId_pw3X93lXC9KdL1ZEvusN9vUz6-1fsbTawdcxAwl2MHK7uFcpsHvATOg4Zi_yLOMjtk75YzqH5FFZUT0pAMGUIb9MRreRZA02E5E7JiC16WjZ2soRuabVK1p101w5Oik372zo8vFbT4m2Uxg_e27xj_H0FHKgTCciQyDh8nZyCJkrdw6tu4kH07tB3321J94dnXD-3C2moZBnEtrJhAxMWb_otcTMsf8O46azM9YNSXzNJfJyqf8sJhZ3yo-MXcM5UVqy_Ra3OnsxdEZZSuIdi5oAoKxdkfHkjFzEptds-oRvwSYBE2RZiUwIJjY-jrRoVz0qLiwK9FOXri3NfYzpICFKMWOKm919M-qUsEEYdzy3DEv0NaQ.D_3zlCkOd3kwOQxPOG_xkw"#@param {type: "string"}

# idToken取得
res = requests.post(f"{API_URL}/v1/token/auth_refresh?refreshtoken={refreshtoken}")
if res.status_code == 200:
    id_token = res.json()['idToken']
    headers = {'Authorization': 'Bearer {}'.format(id_token)}
    display("idTokenの取得に成功しました。")
else:
    display(res.json()["message"])


#@markdown 上記コードを実行し、**「idTokenの取得に成功しました。」**と表示されれば、J-Quants APIを利用するための準備は完了です。

#@markdown なお、 「Your refresh token may be incorrect or expired.」等のエラーが出力されている場合は、上記で貼り付けたリフレッシュトークンが誤っているか、期限が切れている可能性がございます。

#@markdown その場合はお手数ですが、再度リフレッシュトークンをJ-Quants Webサイトから取得いただき、再度実行してください。

'idTokenの取得に成功しました。'

###**2. J-Quants Webサイトに登録したID及びPWを使用し、RefreshToken及びidTokenをAPIを利用して取得する場合**

In [6]:
#@title Google Driveのマウント

#@markdown 登録いただいたIDやPWを直接本Notebookに記載するのはセキュリティ上適切ではない可能性があるため、<br>
#@markdown Google Driveに設定ファイルを作成し、当該設定ファイルにIDやPWを記載することをおすすめします。

#@markdown 本コードを実行し、まずはGoogle Driveをマウントします。


from google.colab import drive

try:
    drive.mount('/content/drive')
except:
    print("Google Driveのマウントに失敗しました。")
else:
    print("Google Driveのマウントに成功しました。")

Mounted at /content/drive
Google Driveのマウントに成功しました。

#### 設定ファイルの作成（初回のみ）
- 以下の画像のように 「drive→MyDrive→drive_ws→secret→jquants-api.toml」といった階層で設定ファイルを作成します。

![image.png]()

- 作成したtomlファイルに以下のサンプルのとおりID及びパスワードを記載します。  
(なお、\*の箇所はご登録いただいたID及びPWに置き換えてください。)

```
[jquants-api-client]
mailaddress = "*****@***.***"
password = "**************"
```

In [7]:
#@title 作成した設定ファイルを読み込み、リフレッシュトークン及びidTokenを取得
#@markdown 正しく設定ファイルが作成されていれば、本コードを実行することで、idTokenを取得することができます。
#@markdown 「APIを使用する準備が完了しました。」と出力されれば、されれば、J-Quants APIをコールすることができるようになります！

if sys.version_info >= (3, 11):
    import tomllib
else:
    import tomli as tomllib

config_path = ("/content/drive/MyDrive/drive_ws/secret/jquants-api.toml")

with open(config_path, mode="rb") as f:
    ret = tomllib.load(f)["jquants-api-client"]

USER_DATA = {k: v for k, v in ret.items()}

# refresh token取得
try:
  res = requests.post(f"{API_URL}/v1/token/auth_user", data=json.dumps(USER_DATA))
  refresh_token = res.json()['refreshToken']
except:
  print("RefreshTokenの取得に失敗しました。")
else:
  # id token取得
  try:
    res = requests.post(f"{API_URL}/v1/token/auth_refresh?refreshtoken={refresh_token}")
    id_token = res.json()['idToken']
  except:
    print("idTokenの取得に失敗しました。")
  else:
    headers = {'Authorization': 'Bearer {}'.format(id_token)}
    print("API使用の準備が完了しました。")

API使用の準備が完了しました。

## Step4：取得したIDトークンを用いて各APIをご利用ください。

### Freeプラン以上のプランで利用できるAPI
- 上場銘柄一覧（/listed/info）
- 株価四本値*（/prices/daily_quotes）
- 財務情報/fins/statements)
- 決算発表予定日（/fins/announcement）
- 取引カレンダー（/markets/trading_calendar）

\* プレミアムプランのユーザのみ、前後場の四本値及び取引高・取引代金の情報が取得可能

In [8]:
#@title 上場銘柄一覧（/listed/info）

#@markdown - 過去時点での銘柄情報、当日の銘柄情報および翌営業日時点の銘柄情報が取得可能です。
#@markdown - データの取得では、銘柄コード（code）または日付（date）の指定が可能です。

#@markdown （データ更新時刻）
#@markdown - 毎営業日の24:00頃

code = ""#@param {type:"string"}
date = "2025-05-02"#@param {type:"string"}

params = {}
if code != "":
  params["code"] = code
if date != "":
  params["date"] = date

res = requests.get(f"{API_URL}/v1/listed/info", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["info"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/listed/info", params=params, headers=headers)
    d = res.json()
    data += d["info"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

,Date,Code,CompanyName,CompanyNameEnglish,Sector17Code,Sector17CodeName,Sector33Code,Sector33CodeName,ScaleCategory,MarketCode,MarketCodeName,MarginCode,MarginCodeName
0,2025-05-02,13010,極洋,"KYOKUYO CO.,LTD.",1,食品,0050,水産・農林業,TOPIX Small 2,0111,プライム,2,貸借
1,2025-05-02,13050,大和アセットマネジメント株式会社 ｉＦｒｅｅＥＴＦ ＴＯＰＩＸ（年１回決算型）,iFreeETF TOPIX (Yearly Dividend Type),99,その他,9999,その他,-,0109,その他,2,貸借
2,2025-05-02,13060,野村アセットマネジメント株式会社 ＮＥＸＴ ＦＵＮＤＳ ＴＯＰＩＸ連動型上場投信,NEXT FUNDS TOPIX Exchange Traded Fund,99,その他,9999,その他,-,0109,その他,2,貸借
3,2025-05-02,13080,日興アセットマネジメント株式会社 上場インデックスファンドＴＯＰＩＸ,Listed Index Fund TOPIX,99,その他,9999,その他,-,0109,その他,2,貸借
4,2025-05-02,13090,野村アセットマネジメント株式会社 ＮＥＸＴ ＦＵＮＤＳ ＣｈｉｎａＡＭＣ・中国株式・上証５０...,NEXT FUNDS ChinaAMC SSE50 Index Exchange Trade...,99,その他,9999,その他,-,0109,その他,2,貸借
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4410,2025-05-02,99910,ジェコス,GECOSS CORPORATION,13,商社・卸売,6050,卸売業,TOPIX Small 2,0111,プライム,2,貸借
4411,2025-05-02,99930,ヤマザワ,"YAMAZAWA CO.,LTD.",14,小売,6100,小売業,-,0112,スタンダード,1,信用
4412,2025-05-02,99940,やまや,YAMAYA CORPORATION,14,小売,6100,小売業,-,0112,スタンダード,2,貸借
4413,2025-05-02,99960,サトー商会,"Satoh&Co.,Ltd.",13,商社・卸売,6050,卸売業,-,0112,スタンダード,2,貸借
4414,2025-05-02,99970,ベルーナ,"BELLUNA CO.,LTD.",14,小売,6100,小売業,TOPIX Small 1,0111,プライム,2,貸借

In [10]:
# prompt: DataFrame df を使用: save

# Assuming you want to save the dataframe to a CSV file named 'df_saved.csv'
df.to_csv('df_saved.csv', index=False) # Set index=False to avoid saving row indices

In [8]:
#@title 株価四本値（/prices/daily_quotes）

#@markdown - 株価は分割・併合を考慮した調整済み株価（小数点第２位四捨五入）と調整前の株価を取得することができます。
#@markdown - データの取得では、銘柄コード（code）または日付（date）の指定が必須となります。

#@markdown （データ更新時刻）
#@markdown - 毎営業日の17:00頃

#@markdown - Premiumプランの方には、日通しに加え、前場(Morning)及び後場(Afternoon)の四本値及び取引高（調整前・後両方）・取引代金が取得可能です。


code = "338A"#@param {type:"string"}
date = "2025-05-02"#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}

params = {}
if code != "":
  params["code"] = code
if date != "":
  params["date"] = date
if from_ != "":
  params["from"] = from_
if to != "":
  params["to"] = to

res = requests.get(f"{API_URL}/v1/prices/daily_quotes", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["daily_quotes"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/prices/daily_quotes", params=params, headers=headers)
    d = res.json()
    data += d["daily_quotes"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

,Date,Code,Open,High,Low,Close,UpperLimit,LowerLimit,Volume,TurnoverValue,AdjustmentFactor,AdjustmentOpen,AdjustmentHigh,AdjustmentLow,AdjustmentClose,AdjustmentVolume
0,2025-05-02,338A0,11100.0,11390.0,10460.0,10550.0,0,0,238400.0,2.587017e+09,1.0,11100.0,11390.0,10460.0,10550.0,238400.0

In [11]:
#@title 財務情報（/fins/statements）

#@markdown - 財務情報APIでは、上場企業がTDnetへ提出する決算短信Summary等を基に作成された、四半期毎の財務情報を取得することができます。
#@markdown - データの取得では、銘柄コード（code）または開示日（date）の指定が必須です。

#@markdown （データ更新時刻）
#@markdown - 速報18:00頃、確報24:30頃


code = "4063"#@param {type:"string"}
date = ""#@param {type:"string"}

params = {}
if code != "":
  params["code"] = code
if date != "":
  params["date"] = date

res = requests.get(f"{API_URL}/v1/fins/statements", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["statements"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/fins/statements", params=params, headers=headers)
    d = res.json()
    data += d["statements"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

,DisclosedDate,DisclosedTime,LocalCode,DisclosureNumber,TypeOfDocument,TypeOfCurrentPeriod,CurrentPeriodStartDate,CurrentPeriodEndDate,CurrentFiscalYearStartDate,CurrentFiscalYearEndDate,NextFiscalYearStartDate,NextFiscalYearEndDate,NetSales,OperatingProfit,OrdinaryProfit,Profit,EarningsPerShare,DilutedEarningsPerShare,TotalAssets,Equity,EquityToAssetRatio,BookValuePerShare,CashFlowsFromOperatingActivities,CashFlowsFromInvestingActivities,CashFlowsFromFinancingActivities,CashAndEquivalents,ResultDividendPerShare1stQuarter,ResultDividendPerShare2ndQuarter,ResultDividendPerShare3rdQuarter,ResultDividendPerShareFiscalYearEnd,ResultDividendPerShareAnnual,DistributionsPerUnit(REIT),ResultTotalDividendPaidAnnual,ResultPayoutRatioAnnual,ForecastDividendPerShare1stQuarter,ForecastDividendPerShare2ndQuarter,ForecastDividendPerShare3rdQuarter,ForecastDividendPerShareFiscalYearEnd,ForecastDividendPerShareAnnual,ForecastDistributionsPerUnit(REIT),ForecastTotalDividendPaidAnnual,ForecastPayoutRatioAnnual,NextYearForecastDividendPerShare1stQuarter,NextYearForecastDividendPerShare2ndQuarter,NextYearForecastDividendPerShare3rdQuarter,NextYearForecastDividendPerShareFiscalYearEnd,NextYearForecastDividendPerShareAnnual,NextYearForecastDistributionsPerUnit(REIT),NextYearForecastPayoutRatioAnnual,ForecastNetSales2ndQuarter,ForecastOperatingProfit2ndQuarter,ForecastOrdinaryProfit2ndQuarter,ForecastProfit2ndQuarter,ForecastEarningsPerShare2ndQuarter,NextYearForecastNetSales2ndQuarter,NextYearForecastOperatingProfit2ndQuarter,NextYearForecastOrdinaryProfit2ndQuarter,NextYearForecastProfit2ndQuarter,NextYearForecastEarningsPerShare2ndQuarter,ForecastNetSales,ForecastOperatingProfit,ForecastOrdinaryProfit,ForecastProfit,ForecastEarningsPerShare,NextYearForecastNetSales,NextYearForecastOperatingProfit,NextYearForecastOrdinaryProfit,NextYearForecastProfit,NextYearForecastEarningsPerShare,MaterialChangesInSubsidiaries,SignificantChangesInTheScopeOfConsolidation,ChangesBasedOnRevisionsOfAccountingStandard,ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard,ChangesInAccountingEstimates,RetrospectiveRestatement,NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock,NumberOfTreasuryStockAtTheEndOfFiscalYear,AverageNumberOfShares,NonConsolidatedNetSales,NonConsolidatedOperatingProfit,NonConsolidatedOrdinaryProfit,NonConsolidatedProfit,NonConsolidatedEarningsPerShare,NonConsolidatedTotalAssets,NonConsolidatedEquity,NonConsolidatedEquityToAssetRatio,NonConsolidatedBookValuePerShare,ForecastNonConsolidatedNetSales2ndQuarter,ForecastNonConsolidatedOperatingProfit2ndQuarter,ForecastNonConsolidatedOrdinaryProfit2ndQuarter,ForecastNonConsolidatedProfit2ndQuarter,ForecastNonConsolidatedEarningsPerShare2ndQuarter,NextYearForecastNonConsolidatedNetSales2ndQuarter,NextYearForecastNonConsolidatedOperatingProfit2ndQuarter,NextYearForecastNonConsolidatedOrdinaryProfit2ndQuarter,NextYearForecastNonConsolidatedProfit2ndQuarter,NextYearForecastNonConsolidatedEarningsPerShare2ndQuarter,ForecastNonConsolidatedNetSales,ForecastNonConsolidatedOperatingProfit,ForecastNonConsolidatedOrdinaryProfit,ForecastNonConsolidatedProfit,ForecastNonConsolidatedEarningsPerShare,NextYearForecastNonConsolidatedNetSales,NextYearForecastNonConsolidatedOperatingProfit,NextYearForecastNonConsolidatedOrdinaryProfit,NextYearForecastNonConsolidatedProfit,NextYearForecastNonConsolidatedEarningsPerShare
0,2015-07-23,15:00,40630,20150717453348,1QFinancialStatements_Consolidated_JP,1Q,2015-04-01,2015-06-30,2015-04-01,2016-03-31,,,314043000000,51410000000,55008000000,37630000000,88.35,88.34,2415490000000,2013193000000,0.812,4604.15,,,,,,,,,,,,,,55.0,,55.0,110.0,,,,,,,,,,,635000000000,102000000000,110000000000,72000000000,169.05,,,,,,1270000000000,197000000000,210000000000,140000000000,328.71,,,,,,false,,true,false,false,false,432106693,6200578,425905586,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2015-10-27,15:00,40630,20151027426106,2QFinancialStatements_Consolidated_JP,2Q,2015-04-01,2015-09-30,2015-04-01,2016-03-31,,,645836000000,109816000000,113020000000,76633000000,179.93,179.91,2491071000000,2065551000000,0.808,4723.65,149041000000,-128430000000,-21855000000,421632000000,,55.0,,,,,,,,,,55.0,110.0,,,,,,,,,,,,,,,,,,,,,1270000000000,197000000000,210000000000,140000000000,328.71,,,,,,false,,true,false,false,false,432106693,6193722,425908128,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,2016-01-28,15:00,40630,20160127497422,3QFinancialStatements_Consolidated_JP,3Q,2015-04-01,2015-12-31,2015-04-01,2016-03-31,,,975914000000,162427000000,170736000000,116419000000,273.34,273.31,2465583000000,2049010000000,0.81,4689.61,,,,,,55.0,,,,,,,,,,55.0,110.0,,,,,,,,,,,,,,,,,,,,,1270000000000,197000000000,210000000000,140000000000,328.71,,,,,,false,,true,false,false,false,432106693,6189285,425910662,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3,2016-04-26,15:00,40630,20160425466373,FYFinancialStatements_Consolidated_JP,FY,2015-04-01,2016-03-31,2015-04-01,2016-03-31,2016-04-01,2017-03-31,1279807000000,208525000000,220005000000,148840000000,349.46,349.42,2510085000000,2080465000000,0.808,4761.48,281643000000,-166599000000,-38941000000,487604000000,,55.0,,55.0,110.0,,46854000000,0.315,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,,true,false,false,false,432106693,6127692,425919248,630239000000,103541000000,110017000000,75327000000,176.86,1022313000000,774680000000,0.758,1818.07,,,,,,,,,,,,,,,,,,,,
4,2016-07-26,15:00,40630,20160725457569,1QFinancialStatements_Consolidated_JP,1Q,2016-04-01,2016-06-30,2016-04-01,2017-03-31,,,300716000000,60027000000,57839000000,45309000000,106.37,106.36,2443936000000,2051928000000,0.819,4696.03,,,,,,,,,,,,,,55.0,,55.0,110.0,,,,,,,,,,,590000000000,115000000000,115000000000,82000000000,192.5,,,,,,1180000000000,225000000000,230000000000,160000000000,375.61,,,,,,false,,true,false,false,false,432106693,6128018,425978707,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,2016-10-28,15:00,40630,20161026421291,2QFinancialStatements_Consolidated_JP,2Q,2016-04-01,2016-09-30,2016-04-01,2017-03-31,,,613026000000,122034000000,118211000000,87437000000,205.26,205.25,2416345000000,2018057000000,0.814,4619.95,143041000000,14706000000,-20576000000,596087000000,,60.0,,,,,,,,,,60.0,120.0,,,,,,,,,,,,,,,,,,,,,1180000000000,225000000000,230000000000,160000000000,375.61,,,,,,false,,true,false,false,false,432106693,6128380,425978581,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6,2017-01-27,15:00,40630,20170126482309,3QFinancialStatements_Consolidated_JP,3Q,2016-04-01,2016-12-31,2016-04-01,2017-03-31,,,922228000000,181101000000,185036000000,135232000000,317.44,317.43,2448335000000,2034202000000,0.811,4656.25,,,,,,60.0,,,,,,,,,,60.0,120.0,,,,,,,,,,,,,,,,,,,,,1180000000000,225000000000,230000000000,160000000000,375.61,,,,,,false,,true,false,false,false,432106693,5900643,426007247,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,2017-04-28,15:00,40630,20170421447348,FYFinancialStatements_Consolidated_JP,FY,2016-04-01,2017-03-31,2016-04-01,2017-03-31,2017-04-01,2018-03-31,1237405000000,238617000000,242133000000,175912000000,412.86,412.83,2655636000000,2190082000000,0.803,5002.16,290872000000,1281000000,-37199000000,733306000000,,60.0,,60.0,120.0,,51141000000,0.291,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,,true,false,false,false,432106693,5724030,426086354,637990000000,110235000000,115238000000,82928000000,194.63,1113589000000,818542000000,0.735,1919.5,,,,,,,,,,,,,,,,,,,,
8,2017-07-25,15:00,40630,20170725438196,1QFinancialStatements_Consolidated_JP,1Q,2017-04-01,2017-06-30,2017-04-01,2018-03-31,,,336242000000,74142000000,77040000000,53710000000,125.96,125.95,2635560000000,2194870000000,0.811,5013.33,,,,,,,,,,,,,,65.0,,65.0,130.0,,,,,,,,,,,,,,,,,,,,,1350000000000,268000000000,280000000000,190000000000,445.57,,,,,,false,,false,false,false,false,432106693,5687005,426405860,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,2017-10-27,15:00,40630,20171026400247,2QFinancialStatements_Consolidated_JP,2Q,2017-04-01,2017-09-30,2017-04-01,2018-03-31,,,694926000000,156319000000,160217000000,110725000000,259.66,259.6,2734329000000,2262196000000,0.806,5167.43,142325000000,-53879000000,-22831000000,796472000000,,65.0,,,,,,,,,,65.0,130.0,,,,,,,,,,,,,,,,,,,,,1350000000000,268000000000,280000000000,190000000000,445.57,,,,,,false,,false,false,false,false,432106693,5670212,426419206,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10,2018-01-26,15:00,40630,20180126456759,3QFinancialStatements_Consolidated_JP,3Q,2017-04-01,2017-12-31,2017-04-01,2018-03-31,,,1061100000000,243330000000,250238000000,173332000000,406.47,406.35,2797118000000,2314870000000,0.806,5286.14,,,,,,65.0,,,,,,,,,,75.0,140.0,,,,,,,,,,,,,,,,,,,,,1420000000000,323000000000,335000000000,227000000000,532.31,,,,,,false,,false,false,false,false,432106693,5605193,426439862,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
11,2018-04-27,15:00:00,40630,20180427422921,FYFinancialStatements_Consolidated_JP,FY,2017-04-01,2018-03-31,2017-04-01,2018-03-31,2018-04-01,2019-03-31,1441432000000,336822000000,340308000000,266235000000,624.28,624.1,2908328000000,2413025000000,0.808,5511.98,332776000000,-237602000000,-50006000000,780449000000,,65.0,,75.0,140.0,,59711000000,0.224,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,,false,false,false,false,432106693,5536807,426470737,733449000000,128709000000,133113000000,96943000000,227.32,1171368000000,866729000000,0.74,2030.93,,,,,,,,,,,,,,,,,,,,
12,2018-07-25,15:00:00,40630,20180725484925,1QFinancialStatements_Consolidated_JP,1Q,2018-04-01,2018-06-30,2018-04-01,2019-03-31,,,383633000000,95405000000,99431000000,73718000000,172.82,172.78,2842777000000,2399346000000,0.822,5479.51,,,,,,,,,,,,,,90.0,,90.0,180.0,,,,,,,,,,,,,,,,,,,,,1500000000000,360000000000,370000000000,270000000000,632.96,,,,,,false,,false,false,false,false,427606693,1036669,426569816,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
13,2018-10-26,15:00:00,40630,20181026423382,2QFinancialStatements_Consolidated_JP,2Q,2018-04-01,2018-09-30,2018-04-01,2019-03-31,,,791701000000,209240000000,217125000000,158815000000,372.29,372.22,2997388000000,2517033000000,0.818,5748.08,187679000000,18177000000,-33113000000,950646000000,,100.0,,,,,,,,,,100.0,200.0,,,,,,,,,,,,,,,,,,,,,1560000000000,390000000000,400000000000,290000000000,679.8,,,,,,false,,false,false,false,false,427606693,977779,426596481,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
14,2019-01-29,15:00:00,40630,20190129465031,3QFinancialStatements_Consolidated_JP,3Q,2018-04-01,2018-12-31,2018-04-01,2019-03-31,,,1206842000000,324622000000,329403000000,242127000000,567.56,567.49,3049807000000,2580714000000,0.824,5893.12,,,,,,100.0,,,,,,,,,,100.0,200.0,,,,,,,,,,,,,,,,,,,,,1560000000000,390000000000,400000000000,290000000000,679.8,,,,,,false,,false,false,false,false,427606693,968050,426609237,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
15,2019-04-26,15:00:00,40630,20190426412585,FYFinancialStatements_Consolidated_JP,FY,2018-04-01,2019-03-31,2018-04-01,2019-03-31,2019-04-01,2020-03-31,1594036000000,403705000000,415311000000,309125000000,725.99,725.92,3038717000000,2532556000000,0.811,5915.47,400687000000,-181553000000,-164538000000,828345000000,,100.0,,100.0,200.0,,84343000000,0.275,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,,false,false,false,false,427606693,10801943,425797367,822515000000,130011000000,134743000000,97403000000,228.76,1109751000000,797912000000,0.718,1912.02,,,,,,,,,,,,,,,,,,,,
16,2019-07-24,15:00:00,40630,20190724475135,1QFinancialStatements_Consolidated_JP,1Q,2019-04-01,2019-06-30,2019-04-01,2020-03-31,,,386211000000,107502000000,108902000000,84028000000,201.96,201.95,3028042000000,2561243000000,0.823,5997.51,,,,,,,,,,,,,,110.0,,110.0,220.0,,,,,,,,,,,,,,,,,,,,,1550000000000,405000000000,418000000000,314000000000,755.18,,,,,,false,,true,false,false,false,427606693,11901115,416070645,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
17,2019-10-25,15:00:00,40630,20191024411939,2QFinancialStatements_Consolidated_JP,2Q,2019-04-01,2019-09-30,2019-04-01,2020-03-31,,,786542000000,210532000000,218222000000,165025000000,396.8,396.77,3085213000000,2606952000000,0.823,6106.25,206667000000,-197715000000,-50353000000,777727000000,,110.0,,,,,,,,,,110.0,220.0,,,,,,,,,,,,,,,,,,,,,1550000000000,405000000000,418000000000,314000000000,755.18,,,,,,false,,true,false,false,false,427606693,11882982,415892394,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
18,2020-01-28,15:00:00,40630,20200127451336,3QFinancialStatements_Consolidated_JP,3Q,2019-04-01,2019-12-31,2019-04-01,2020-03-31,,,1174011000000,318735000000,330231000000,246836000000,593.58,593.51,3104299000000,2640254000000,0.828,6184.8,,,,,,110.0,,,,,,,,,,110.0,220.0,,,,,,,,,,,,,,,,,,,,,1550000000000,405000000000,418000000000,314000000000,755.18,,,,,,false,,true,false,false,false,416662793,899267,415843760,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
19,2020-04-28,15:00:00,40630,20200427400836,FYFinancialStatements_Consolidated_JP,FY,2019-04-01,2020-03-31,2019-04-01,2020-03-31,2020-04-01,2021-03-31,1543525000000,406041000000,418242000000,314027000000,755.17,755.01,3230485000000,2723141000000,0.821,6377.93,412384000000,-394547000000,-94055000000,745125000000,,110.0,,110.0,220.0,,91473000000,0.291,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,,true,false,false,false,416662793,805396,415838457,845356000000,147639000000,167412000000,131836000000,317.04,1156255000000,821894000000,0.709,1972.36,,,,,,,,,,,,,,,,,,,,
20,2020-07-28,15:00:00,40630,20200727467400,1QFinancialStatements_Consolidated_JP,1Q,2020-04-01,2020-06-30,2020-04-01,2021-03-31,,,359339000000,90937000000,95238000000,69312000000,166.67,166.63,3179649000000,2729376000000,0.836,6393.85,,,,,,,,,,,,,,110.0,,,,,,,,,,,,,,705000000000,182000000000,192000000000,139000000000,334.24,,,,,,,,,,,,,,,,false,,false,false,false,false,416662793,788464,415866202,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
21,2020-10-27,15:00:00,40630,20201027409127,2QFinancialStatements_Consolidated_JP,2Q,2020-04-01,2020-09-30,2020-04-01,2021-03-31,,,710526000000,184317000000,192243000000,140306000000,337.47,337.35,3249041000000,2793276000000,0.838,6555.55,180581000000,15527000000,-54802000000,880572000000,,110.0,,,,,,,,,,130.0,240.0,,,,,,,,,,,,,,,,,,,,,1430000000000,377000000000,390000000000,283000000000,681.1,,,,,,false,,false,false,false,false,416662793,1421455,415765898,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
22,2021-01-27,15:00:00,40630,20210126449234,3QFinancialStatements_Consolidated_JP,3Q,2020-04-01,2020-12-31,2020-04-01,2021-03-31,,,1090407000000,285021000000,293043000000,213321000000,513.25,512.95,3253562000000,2814760000000,0.843,6602.3,,,,,,110.0,,,,,,,,,,130.0,240.0,,,,,,,,,,,,,,,,,,,,,1430000000000,377000000000,390000000000,283000000000,681.1,,,,,,false,,false,false,false,false,416662793,1222617,415630230,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
23,2021-04-28,15:00:00,40630,20210428402264,FYFinancialStatements_Consolidated_JP,FY,2020-04-01,2021-03-31,2020-04-01,2021-03-31,2021-04-01,2022-03-31,1496906000000,392213000000,405101000000,293732000000,706.76,706.26,3380615000000,2886625000000,0.832,6769.72,401176000000,-250719000000,-91123000000,801596000000,,110.0,,140.0,250.0,,103853000000,0.354,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,,false,false,false,false,416662793,1115572,415602349,829065000000,137341000000,160800000000,118910000000,286.12,1199772000000,856040000000,0.712,2055.94,,,,,,,,,,,,,,,,,,,,
24,2021-07-27,15:00:00,40630,20210726471399,1QFinancialStatements_Consolidated_JP,1Q,2021-04-01,2021-06-30,2021-04-01,2022-03-31,,,434239000000,128818000000,130831000000,95725000000,230.35,230.13,3499402000000,3009819000000,0.837,7051.66,,,,,,,,,,,,,,150.0,,150.0,300.0,,,,,,,,,,,,,,,,,,,,,1700000000000,485000000000,500000000000,363000000000,873.49,,,,,,false,,true,false,false,false,416662793,1085146,415565972,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
25,2021-10-27,15:00:00,40630,20211027417360,2QFinancialStatements_Consolidated_JP,2Q,2021-04-01,2021-09-30,2021-04-01,2022-03-31,,,941341000000,298403000000,303522000000,220904000000,531.67,531.19,3676888000000,3140298000000,0.831,7358.44,266148000000,-164547000000,-61985000000,854774000000,,150.0,,,,,,,,,,150.0,300.0,,,,,,,,,,,,,,,,,,,,,1700000000000,485000000000,500000000000,363000000000,873.49,,,,,,false,,true,false,false,false,416662793,1294464,415487937,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
26,2022-01-27,15:00:00,40630,20220118569140,3QFinancialStatements_Consolidated_JP,3Q,2021-04-01,2021-12-31,2021-04-01,2022-03-31,,,1483703000000,480112000000,490304000000,353135000000,850.0,849.18,3759139000000,3228903000000,0.835,7553.27,,,,,,150.0,,,,,,,,,,250.0,400.0,,,,,,,,,,,,,,,,,,,,,2040000000000,675000000000,690000000000,500000000000,1203.54,,,,,,false,,true,false,false,false,416662793,1260754,415454846,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
27,2022-04-27,15:00:00,40630,20220425526894,FYFinancialStatements_Consolidated_JP,FY,2021-04-01,2022-03-31,2021-04-01,2022-03-31,2022-04-01,2023-03-31,2074428000000,676322000000,694434000000,500117000000,1203.8,1202.75,4053412000000,3429208000000,0.821,8007.24,553528000000,-253723000000,-122504000000,1008925000000,,150.0,,250.0,400.0,,166166000000,0.332,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,,true,false,false,false,416662793,1218008,415449156,693933000000,163042000000,201241000000,150831000000,363.06,1299322000000,883505000000,0.678,2120.89,,,,,,,,,,,,,,,,,,,,
28,2022-07-27,15:00:00,40630,20220726504671,1QFinancialStatements_Consolidated_JP,1Q,2022-04-01,2022-06-30,2022-04-01,2023-03-31,,,656707000000,249620000000,262633000000,184124000000,446.28,445.98,4173111000000,3532947000000,0.818,8333.36,,,,,,,,,,,,,,225.0,,225.0,450.0,,,,,,,,,,,,,,,,,,,,,2550000000000,825000000000,840000000000,588000000000,1432.59,,,,,,false,,true,false,false,false,416662793,6926727,412574246,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
29,2022-10-27,15:00:00,40630,20221027550443,2QFinancialStatements_Consolidated_JP,2Q,2022-04-01,2022-09-30,2022-04-01,2023-03-31,,,1409336000000,536237000000,559026000000,392324000000,955.99,955.41,4612477000000,3901473000000,0.817,9268.71,368593000000,-58989000000,-278464000000,1130933000000,,225.0,,,,,,,,,,225.0,450.0,,,,,,,,,,,,,,,,,,,,,2700000000000,940000000000,980000000000,680000000000,1670.65,,,,,,false,,true,false,false,false,416662793,9978306,410383578,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
30,2023-01-26,15:00:00,40630,20230125593655,3QFinancialStatements_Consolidated_JP,3Q,2022-04-01,2022-12-31,2022-04-01,2023-03-31,,,2163237000000,808227000000,824217000000,578519000000,1416.49,1415.68,4771523000000,4086676000000,0.825,9749.12,,,,,,225.0,,,,,,,,,,275.0,500.0,,,,,,,,,,,,,,,,,,,,,2780000000000,995000000000,1020000000000,708000000000,1738.83,,,,,,false,,true,false,false,false,410945593,7281564,408415611,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
31,2023-04-27,15:00:00,40630,20230427554009,FYFinancialStatements_Consolidated_JP,FY,2022-04-01,2023-03-31,2022-04-01,2023-03-31,2023-04-01,2024-03-31,2808824000000,998202000000,1020211000000,708238000000,347.84,347.61,4730394000000,4026209000000,0.818,1918.37,788013000000,-186488000000,-423559000000,1247344000000,,225.0,,275.0,500.0,,202469000000,0.287,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,,true,false,false,false,2024122965,6576200,2036096654,799346000000,186327000000,265224000000,216344000000,106.25,1342714000000,705368000000,0.523,347.92,,,,,,,,,,,,,,,,,,,,
32,2023-07-27,15:00:00,40630,20230725526801,1QFinancialStatements_Consolidated_JP,1Q,2023-04-01,2023-06-30,2023-04-01,2024-03-31,,,599201000000,190820000000,217115000000,153633000000,76.13,76.06,4757574000000,4102042000000,0.828,1950.53,,,,,,,,,,,,,,50.0,,50.0,100.0,,,,,,,,,,,,,,,,,,,,,2300000000000,700000000000,760000000000,520000000000,257.6,,,,,,false,,false,false,false,false,2024122965,5686705,2018063509,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
33,2023-10-27,15:00:00,40630,20231024570484,2QFinancialStatements_Consolidated_JP,2Q,2023-04-01,2023-09-30,2023-04-01,2024-03-31,,,1195902000000,381919000000,427508000000,301439000000,149.65,149.52,5092909000000,4375061000000,0.829,2106.41,380547000000,-695226000000,-193471000000,785544000000,,50.0,,,,,,,,,,50.0,100.0,,,,,,,,,,,,,,,,,,,,,2300000000000,700000000000,760000000000,520000000000,257.6,,,,,,false,,false,false,false,false,2024122965,18584175,2014338531,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [12]:
#@title 決算発表予定日（/fins/announcemnet）

#@markdown （データ更新時刻）
#@markdown - 不定期（更新がある日は）19:00頃

#@markdown - [当該ページ](https://www.jpx.co.jp/listing/event-schedules/financial-announcement/index.html)で、3月期・９月期決算会社分に更新があった場合のみ19時ごろに更新されます。

params = {}

res = requests.get(f"{API_URL}/v1/fins/announcement", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["announcement"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/fins/announcement", params=params, headers=headers)
    d = res.json()
    data += d["announcement"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

,Date,Code,CompanyName,FiscalYear,SectorName,FiscalQuarter,Section
0,2025-05-07,73660,ＬＩＴＡＬＩＣＯ,3月31日,サービス業,本決算,プライム
1,2025-05-07,36900,イルグルム,9月30日,情報・通信業,第２四半期,グロース
2,2025-05-07,93240,安田倉庫,3月31日,倉庫・運輸関連業,本決算,プライム
3,2025-05-07,18700,矢作建設工業,3月31日,建設業,本決算,プライム
4,2025-05-07,54450,東京鐵鋼,3月31日,鉄鋼,本決算,プライム
5,2025-05-07,31320,マクニカホールディングス,3月31日,卸売業,本決算,プライム
6,2025-05-07,52080,有沢製作所,3月31日,化学,本決算,プライム
7,2025-05-07,81180,キング,3月31日,繊維製品,本決算,スタンダード
8,2025-05-07,74800,スズデン,3月31日,卸売業,本決算,スタンダード
9,2025-05-07,19670,ヤマト,3月20日,建設業,本決算,スタンダード
10,2025-05-07,17230,日本電技,3月31日,建設業,本決算,スタンダード
11,2025-05-07,59550,ワイズホールディングス,3月31日,金属製品,本決算,スタンダード
12,2025-05-07,46890,ＬＩＮＥヤフー,3月31日,情報・通信業,本決算,プライム
13,2025-05-07,22810,プリマハム,3月31日,食料品,本決算,プライム
14,2025-05-07,66760,バッファロー,3月31日,電気機器,本決算,スタンダード
15,2025-05-07,20530,中部飼料,3月31日,食料品,本決算,プライム
16,2025-05-07,75750,日本ライフライン,3月31日,卸売業,本決算,プライム
17,2025-05-07,69080,イリソ電子工業,3月31日,電気機器,本決算,プライム
18,2025-05-07,75650,萬世電機,3月31日,卸売業,本決算,スタンダード
19,2025-05-07,87390,スパークス・グループ,3月31日,証券、商品先物取引業,本決算,プライム
20,2025-05-07,33170,フライングガーデン,3月31日,小売業,本決算,スタンダード
21,2025-05-07,39100,エムケイシステム,3月31日,情報・通信業,本決算,スタンダード
22,2025-05-07,68410,横河電機,3月31日,電気機器,本決算,プライム
23,2025-05-07,29240,イフジ産業,3月31日,食料品,本決算,スタンダード
24,2025-05-07,93760,ユーラシア旅行社,9月30日,サービス業,第２四半期,スタンダード
25,2025-05-07,74190,ノジマ,3月31日,小売業,本決算,プライム
26,2025-05-07,64200,ガリレイ,3月31日,機械,本決算,プライム
27,2025-05-07,82550,アクシアル リテイリング,3月31日,小売業,本決算,プライム
28,2025-05-07,23440,平安レイサービス,3月31日,サービス業,本決算,スタンダード
29,2025-05-07,80050,スクロール,3月31日,小売業,本決算,プライム
30,2025-05-07,45470,キッセイ薬品工業,3月31日,医薬品,本決算,プライム
31,2025-05-07,62000,インソース,9月30日,サービス業,第２四半期,プライム
32,2025-05-07,72990,フジオーゼックス,3月31日,輸送用機器,本決算,スタンダード
33,2025-05-07,97010,東京會舘,3月31日,サービス業,本決算,スタンダード
34,2025-05-07,72240,新明和工業,3月31日,輸送用機器,本決算,プライム
35,2025-05-07,44750,ＨＥＮＮＧＥ,9月30日,情報・通信業,第２四半期,グロース
36,2025-05-07,20030,日東富士製粉,3月31日,食料品,本決算,スタンダード
37,2025-05-07,91070,川崎汽船,3月31日,海運業,本決算,プライム
38,2025-05-07,165A0,ＳＢＩレオスひふみ,3月31日,証券、商品先物取引業,本決算,グロース
39,2025-05-07,42620,ニフティライフスタイル,3月31日,情報・通信業,本決算,グロース
40,2025-05-07,44830,ＪＭＤＣ,3月31日,情報・通信業,本決算,プライム
41,2025-05-07,99550,ヨンキュウ,3月31日,卸売業,本決算,スタンダード

In [13]:
#@title 取引カレンダー（/market/trading_calendar）

#@markdown - 東証およびOSEにおける営業日、休業日、ならびにOSEにおける祝日取引の有無の情報を取得できます。
#@markdown - データの取得では、休日区分（holidaydivision）または日付（from/to）の指定が可能です。

#@markdown （データ更新日）
#@markdown - 不定期（原則として、毎年2月頃をめどに翌年1年間の営業日および祝日取引実施日（予定）を更新します。）


holidaydivision = ""#@param ["0", "1", "2", "3"]{allow-input:true}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}

params = {}
if holidaydivision != "":
  params["holidaydivision"] = holidaydivision
if from_ != "":
  params["from"] = from_
if to != "":
  params["to"] = to

res = requests.get(f"{API_URL}/v1/markets/trading_calendar", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["trading_calendar"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/markets/trading_calendar", params=params, headers=headers)
    d = res.json()
    data += d["trading_calendar"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

            Date HolidayDivision
0     2015-05-07               1
1     2015-05-08               1
2     2015-05-09               0
3     2015-05-10               0
4     2015-05-11               1
...          ...             ...
4252  2026-12-27               0
4253  2026-12-28               1
4254  2026-12-29               1
4255  2026-12-30               1
4256  2026-12-31               0

[4257 rows x 2 columns]

### Lightプラン以上のプランで利用できるAPI
- 投資部門別情報（/markets/trades_spec）
- TOPIX四本値（/indices/topix）

In [14]:
#@title 投資部門別（株式）データ（/markets/trades_spec）

#@markdown - 投資部門別売買状況（金額）のデータを取得することができます。
#@markdown - 投資部門別売買状況は、個人・外国人・金融機関など、投資家ごとの売買動向をまとめた情報です。
#@markdown - 基本的には[こちら](https://www.jpx.co.jp/markets/statistics-equities/investor-type/index.html)のページで掲載しているものと同等のものになります。
#@markdown - データの取得では、セクション（section）または日付（from/to）の指定が可能です。

#@markdown （データ更新時刻）
#@markdown - 原則、毎週第４営業日18:00頃


section = ""#@param ["TSE1st", "TSE2nd", "TSEMothers", "TSEJASDAQ", "TSEPrime", "TSEStandard", "TSEGrowth", "TokyoNagoya"] {allow-input: true}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}

params = {}
if section != "":
  params["section"] = section
if from_ != "":
  params["from"] = from_
if to != "":
  params["to"] = to

res = requests.get(f"{API_URL}/v1/markets/trades_spec", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["trades_spec"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/markets/trades_spec", params=params, headers=headers)
    d = res.json()
    data += d["trades_spec"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

,PublishedDate,StartDate,EndDate,Section,ProprietarySales,ProprietaryPurchases,ProprietaryTotal,ProprietaryBalance,BrokerageSales,BrokeragePurchases,BrokerageTotal,BrokerageBalance,TotalSales,TotalPurchases,TotalTotal,TotalBalance,IndividualsSales,IndividualsPurchases,IndividualsTotal,IndividualsBalance,ForeignersSales,ForeignersPurchases,ForeignersTotal,ForeignersBalance,SecuritiesCosSales,SecuritiesCosPurchases,SecuritiesCosTotal,SecuritiesCosBalance,InvestmentTrustsSales,InvestmentTrustsPurchases,InvestmentTrustsTotal,InvestmentTrustsBalance,BusinessCosSales,BusinessCosPurchases,BusinessCosTotal,BusinessCosBalance,OtherCosSales,OtherCosPurchases,OtherCosTotal,OtherCosBalance,InsuranceCosSales,InsuranceCosPurchases,InsuranceCosTotal,InsuranceCosBalance,CityBKsRegionalBKsEtcSales,CityBKsRegionalBKsEtcPurchases,CityBKsRegionalBKsEtcTotal,CityBKsRegionalBKsEtcBalance,TrustBanksSales,TrustBanksPurchases,TrustBanksTotal,TrustBanksBalance,OtherFinancialInstitutionsSales,OtherFinancialInstitutionsPurchases,OtherFinancialInstitutionsTotal,OtherFinancialInstitutionsBalance
0,2015-05-12,2015-04-27,2015-05-01,TokyoNagoya,1.537344e+09,1.570224e+09,3.107568e+09,32879683.0,1.117891e+10,1.114892e+10,2.232783e+10,-29987970.0,1.271625e+10,1.271914e+10,2.543539e+10,2891713.0,2.588618e+09,2.670769e+09,5.259387e+09,82151590.0,7.628059e+09,7.570662e+09,1.519872e+10,-57396572.0,155460053.0,158603026.0,314063079.0,3142973.0,272452076.0,222145478.0,494597554.0,-50306598.0,104498173.0,97678123.0,202176296.0,-6820050.0,18234277.0,27421000.0,45655277.0,9186723.0,20204157.0,17342375.0,37546532.0,-2861782.0,6138448.0,12937198.0,19075646.0,6798750.0,361325903.0,346362169.0,7.076881e+08,-14963734.0,23917271.0,24998001.0,48915272.0,1080730.0
1,2015-05-12,2015-04-27,2015-05-01,TSEJASDAQ,6.406854e+06,4.876590e+06,1.128344e+07,-1530264.0,2.920387e+08,2.935781e+08,5.856168e+08,1539425.0,2.984456e+08,2.984547e+08,5.969003e+08,9161.0,2.091797e+08,2.107827e+08,4.199623e+08,1602982.0,6.372857e+07,6.504058e+07,1.287691e+08,1312009.0,10196914.0,10228466.0,20425380.0,31552.0,2146273.0,1910379.0,4056652.0,-235894.0,3805991.0,2828378.0,6634369.0,-977613.0,507377.0,838350.0,1345727.0,330973.0,18223.0,5780.0,24003.0,-12443.0,2622.0,64484.0,67106.0,61862.0,2430441.0,1836166.0,4.266607e+06,-594275.0,22631.0,42903.0,65534.0,20272.0
2,2015-05-12,2015-04-27,2015-05-01,TSE2nd,3.302936e+06,3.624233e+06,6.927169e+06,321297.0,1.141900e+08,1.136537e+08,2.278437e+08,-536302.0,1.174929e+08,1.172779e+08,2.347709e+08,-215005.0,7.642276e+07,8.076064e+07,1.571834e+08,4337877.0,2.839958e+07,2.245409e+07,5.085367e+07,-5945491.0,3980201.0,4061011.0,8041212.0,80810.0,1130257.0,1550283.0,2680540.0,420026.0,2303463.0,2747732.0,5051195.0,444269.0,265029.0,560308.0,825337.0,295279.0,12148.0,64788.0,76936.0,52640.0,13694.0,24968.0,38662.0,11274.0,1650796.0,1214694.0,2.865490e+06,-436102.0,12073.0,215189.0,227262.0,203116.0
3,2015-05-12,2015-04-27,2015-05-01,TSE1st,1.518903e+09,1.552622e+09,3.071525e+09,33719403.0,1.041789e+10,1.038719e+10,2.080509e+10,-30701167.0,1.193680e+10,1.193982e+10,2.387661e+10,3018236.0,2.039417e+09,2.110663e+09,4.150080e+09,71245266.0,7.469564e+09,7.417501e+09,1.488707e+10,-52063217.0,131461134.0,133702726.0,265163860.0,2241592.0,267048035.0,215970640.0,483018675.0,-51077395.0,92364168.0,88278252.0,180642420.0,-4085916.0,14050506.0,25393761.0,39444267.0,11343255.0,19753049.0,17270719.0,37023768.0,-2482330.0,6091106.0,12847698.0,18938804.0,6756592.0,354541623.0,340844124.0,6.953857e+08,-13697499.0,23603309.0,24721794.0,48325103.0,1118485.0
4,2015-05-12,2015-04-27,2015-05-01,TSEMothers,8.690504e+06,9.055887e+06,1.774639e+07,365383.0,3.526192e+08,3.522571e+08,7.048764e+08,-362087.0,3.613097e+08,3.613130e+08,7.226228e+08,3296.0,2.618460e+08,2.667482e+08,5.285943e+08,4902184.0,6.624051e+07,6.554119e+07,1.317817e+08,-699323.0,9687431.0,10462418.0,20149849.0,774987.0,2086187.0,2689175.0,4775362.0,602988.0,5971965.0,3801742.0,9773707.0,-2170223.0,3399835.0,561574.0,3961409.0,-2838261.0,415979.0,1080.0,417059.0,-414899.0,28076.0,0.0,28076.0,-28076.0,2667705.0,2437040.0,5.104745e+06,-230665.0,275496.0,14697.0,290193.0,-260799.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444,2025-04-24,2025-04-14,2025-04-18,TSEPrime,1.794571e+09,1.564604e+09,3.359175e+09,-229966389.0,1.862288e+10,1.885350e+10,3.747638e+10,230624227.0,2.041745e+10,2.041810e+10,4.083555e+10,657838.0,5.234900e+09,4.990412e+09,1.022531e+10,-244488527.0,1.244443e+10,1.261238e+10,2.505680e+10,167950271.0,74915189.0,71111568.0,146026757.0,-3803621.0,310591025.0,379878270.0,690469295.0,69287245.0,167491209.0,350608766.0,518099975.0,183117557.0,29743909.0,29508189.0,59252098.0,-235720.0,23341853.0,8843992.0,32185845.0,-14497861.0,28953208.0,7107591.0,36060799.0,-21845617.0,293483432.0,383712477.0,6.771959e+08,90229045.0,15029598.0,19941053.0,34970651.0,4911455.0
2445,2025-05-02,2025-04-21,2025-04-25,TSEGrowth,2.758627e+07,2.471100e+07,5.229728e+07,-2875270.0,8.239349e+08,8.262439e+08,1.650179e+09,2308999.0,8.515212e+08,8.509549e+08,1.702476e+09,-566271.0,4.792207e+08,4.940895e+08,9.733102e+08,14868860.0,3.177139e+08,3.071126e+08,6.248265e+08,-10601362.0,8552492.0,7813922.0,16366414.0,-738570.0,3682433.0,4476351.0,8158784.0,793918.0,8970352.0,8935425.0,17905777.0,-34927.0,1957698.0,1475787.0,3433485.0,-481911.0,81199.0,119889.0,201088.0,38690.0,33622.0,0.0,33622.0,-33622.0,3657276.0,2163752.0,5.821028e+06,-1493524.0,65242.0,56689.0,121931.0,-8553.0
2446,2025-05-02,2025-04-21,2025-04-25,TSEStandard,3.170678e+07,3.106945e+07,6.277623e+07,-637327.0,5.332669e+08,5.351613e+08,1.068428e+09,1894431.0,5.649737e+08,5.662308e+08,1.131204e+09,1257104.0,2.562811e+08,2.649721e+08,5.212533e+08,8691023.0,2.536401e+08,2.461843e+08,4.998244e+08,-7455763.0,2980676.0,2708166.0,5688842.0,-272510.0,4957493.0,5326323.0,10283816.0,368830.0,6956229.0,7739231.0,14695460.0,783002.0,1405533.0,3602270.0,5007803.0,2196737.0,437908.0,15123.0,453031.0,-422785.0,325696.0,15260.0,340956.0,-310436.0,5775677.0,4538260.0,1.031394e+07,-1237417.0,506519.0,60269.0,566788.0,-446250.0
2447,2025-05-02,2025-04-21,2025-04-25,TokyoNagoya,1.886412e+09,2.112754e+09,3.999166e+09,226341511.0,2.096326e+10,2.074584e+10,4.170910e+10,-217425417.0,2.284968e+10,2.285859e+10,4.570827e+10,8916094.0,6.178756e+09,5.823823e+09,1.200258e+10,-354932670.0,1.327513e+10,1.356327e+10,2.683840e+10,288137076.0,111608004.0,106457727.0,218065731.0,-5150277.0,380976106.0,324193227.0,705169333.0,-56782879.0,213853584.0,293157076.0,507010660.0,79303492.0,69447651.0,99740035.0,169187686.0,30292384.0,61371628.0,18948819.0,80320447.0,-42422809.0,28864541.0,5171489.0,34036030.0,-23693052.0,607215827.0,498693972.0,1.105910e+09,-108521855.0,36040668.0,12385841.0,48426509.0,-23654827.0
2448,2025-05-02,2025-04-21,2025-04-25,TSEPrime,1.827109e+09,2.056948e+09,3.884057e+09,229839324.0,1.960505e+10,1.938344e+10,3.898848e+10,-221612585.0,2.143216e+10,2.144038e+10,4.287254e+10,8226739.0,5.442344e+09,5.063934e+09,1.050628e+10,-378409953.0,1.270376e+10,1.300994e+10,2.571369e+10,306180686.0,100063804.0,95875529.0,195939333.0,-4188275.0,372333240.0,314382545.0,686715785.0,-57950695.0,197894799.0,276471473.0,474366272.0,78576674.0,66069946.0,94608251.0,160678197.0,28538305.0,60845299.0,18813807.0,79659106.0,-42031492.0,28504263.0,5156229.0,33660492.0,-23348034.0,597769503.0,491989726.0,1.089759e+09,-105779777.0,35468906.0,12268882.0,47737788.0,-23200024.0

In [ ]:
#@title TOPIX四本値（/indices/topix）

#@markdown - 日次のTOPIX指数の四本値について取得することができます。
#@markdown - 日付（from/to）の指定が可能です

#@markdown （データ更新時刻）
#@markdown - 毎営業日の16:30頃


date_from = ""#@param {type:"string"}
date_to = ""#@param {type:"string"}

params = {}

if date_from != "":
  params["from"] = date_from
if date_to != "":
  params["to"] = date_to

res = requests.get(f"{API_URL}/v1/indices/topix", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["topix"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/indices/topix", params=params, headers=headers)
    d = res.json()
    data += d["topix"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

### Standard以上のプランで利用できるAPI
- 指数四本値（/indices）
- オプション四本値（/option/index_option）
- 信用取引週末残高（/markets/weekly_margin_interest）
- 業種別空売り比率（/markets/short_selling）

In [ ]:
#@title 指数四本値（/indices）

#@markdown - 日次の各種指数の四本値について取得することができます。
#@markdown - データの取得では、指数コード（code）または日付（date）の指定が必須となります。

#@markdown （データ更新時刻）
#@markdown - 毎営業日の16:30頃


code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}

params = {}
if code != "":
  params["code"] = code
if date != "":
  params["date"] = date
if from_ != "":
  params["from"] = from_
if to != "":
  params["to"] = to

res = requests.get(f"{API_URL}/v1/indices", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["indices"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/indices", params=params, headers=headers)
    d = res.json()
    data += d["indices"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

In [ ]:
#@title オプション四本値（/option/index_option）

#@markdown - 日次の日経225指数オプションの四本値や売買高、清算値段等について取得することができます。
#@markdown - 日付（date）の指定が必須です

#@markdown （データ更新時刻）
#@markdown - 毎営業日の27:00頃


date = "" #@param {type:"string"}
params = {}
if date != "":
  params["date"] = date

res = requests.get(f"{API_URL}/v1/option/index_option", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["index_option"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/option/index_option", params=params, headers=headers)
    d = res.json()
    data += d["index_option"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

In [ ]:
#@title 信用取引週末残高（/markets/weekly_margin_interest）

#@markdown - 制度・一般信用取引における各銘柄の前週末の残高についてデータを取得することができます。
#@markdown - 本データは[こちら](https://www.jpx.co.jp/markets/statistics-equities/margin/index.html)の個別銘柄信用取引残高表のデータをヒストリカルで提供するものになります。
#@markdown - 銘柄コード（code）もしくは日付（date）の指定が必須です。<br>
#@markdown （From, Toはcodeを入れている場合にのみ可能）

#@markdown （データ更新時刻）
#@markdown - 原則毎週第２営業日の16:30頃


code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}

params = {}
if code != "":
  params["code"] = code
if date != "":
  params["date"] = date
if from_ != "":
  params["from"] = from_
if to != "":
  params["to"] = to

res = requests.get(f"{API_URL}/v1/markets/weekly_margin_interest", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["weekly_margin_interest"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/markets/weekly_margin_interest", params=params, headers=headers)
    d = res.json()
    data += d["weekly_margin_interest"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

In [ ]:
#@title 業種別空売り比率（/markets/short_selling）

#@markdown - 日次の３３業種別の空売りの売買代金について取得することができます。
#@markdown - ３３業種コード（sector33code）もしくは日付（date）の指定が必須です。<br>
#@markdown （From, Toは33SectorCodeを入れている場合にのみ可能）

#@markdown （データ更新時刻）
#@markdown - 毎営業日の17:00頃

#@markdown （その他留意点）
#@markdown - 業種コード9999は、ETFやREIT等の３３業種に含まれない銘柄のものになります。


sector33code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}

params = {}
if sector33code != "":
  params["sector33code"] = sector33code
if date != "":
  params["date"] = date
if from_ != "":
  params["from"] = from_
if to != "":
  params["to"] = to

res = requests.get(f"{API_URL}/v1/markets/short_selling", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["short_selling"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/markets/short_selling", params=params, headers=headers)
    d = res.json()
    data += d["short_selling"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

### Premiumプランで利用できるAPI
- 売買内訳データ（/markets/breakdown）
- 前場四本値（/prices/AM）
- 配当金情報（/fins/dividend）
- 財務諸表(BS/PL)（/fins/fs_details）

In [15]:
#@title 売買内訳データ（/markets/breakdown）

#@markdown - 売買内訳データは、東証上場銘柄の東証市場における銘柄別の日次売買代金・売買高(立会内取引に限る)について、信用取引や空売りの利用に関して、発注時のフラグ情報を用いて細分化したデータです。
#@markdown - 銘柄コード（code）もしくは日付（date）の指定が必須です。<br>
#@markdown （From, Toはcodeを入れている場合にのみ可能）

#@markdown （データ更新時刻）
#@markdown - 毎営業日の18:00頃

#@markdown （その他留意点）
#@markdown - 当日に立会内取引が成立しなかった場合（約定なし）、当該銘柄はレコードに含まれていません。

code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}

params = {}
if code != "":
  params["code"] = code
if date != "":
  params["date"] = date
if from_ != "":
  params["from"] = from_
if to != "":
  params["to"] = to

res = requests.get(f"{API_URL}/v1/markets/breakdown", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["breakdown"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/markets/breakdown", params=params, headers=headers)
    d = res.json()
    data += d["breakdown"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}

In [ ]:
#@title 前場四本値*（/prices/AM）

#@markdown - 各銘柄の前場の四本値及び取引高・代金について、当日の前場終了後のデータを取得できます。
#@markdown - 銘柄コード（code）を指定することができます。codeパラメータがない場合は、全銘柄取得されます。

#@markdown （データ更新時刻）
#@markdown - 毎営業日の12:00頃

#@markdown （その他留意点）
#@markdown - 本APIのデータは当日12:00頃〜翌日の朝6:00頃まで取得可能です。
#@markdown - 当日以外のヒストリカルのデータは、Premiumユーザの方は株価四本値（/prices/daily_quotes）のAPIで取得可能です。
#@markdown - なお、上記以外の時間にAPIコールした場合は、StatusCode = 210が返却されます。（通常は200）


code = ""#@param {type:"string"}

params = {}
if code != "":
  params["code"] = code

res = requests.get(f"{API_URL}/v1/prices/prices_am", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["prices_am"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/prices/prices_am", params=params, headers=headers)
    d = res.json()
    data += d["prices_am"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

In [ ]:
#@title 配当金情報（/fins/dividend）

#@markdown - 上場会社の配当（決定・予想）に関する１株当たり配当金額、基準日、権利落日及び支払開始予定日等の情報が取得できます。
#@markdown - 銘柄コード（code）もしくは日付（date）の指定が必須です。<br>
#@markdown （From, Toはcodeを入れている場合にのみ可能）

#@markdown （データ更新時刻）
#@markdown - 毎営業日の19:00頃


code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}

params = {}
if code != "":
  params["code"] = code
if date != "":
  params["date"] = date
if from_ != "":
  params["from"] = from_
if to != "":
  params["to"] = to

res = requests.get(f"{API_URL}/v1/fins/dividend", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["dividend"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/fins/dividend", params=params, headers=headers)
    d = res.json()
    data += d["dividend"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

In [ ]:
#@title 財務諸表(BS/PL)（/fins/fs_details）

#@markdown - 財務諸表(BS/PL)APIでは、上場企業の四半期毎の財務情報における、貸借対照表、損益計算書に記載の項目を取得することができます。
#@markdown - 本コードでは、出力結果の表示方法をformat_typeを指定して切り替え可能です。flat:全項目をヘッダーに表示する、non-flat:詳細項目を1列に集約します。
#@markdown - データの取得では、銘柄コード（code）または開示日（date）の指定が必須です。

#@markdown （データ更新時刻）
#@markdown - 速報18:00頃、確報24:30頃


format_type = "non-flat"#@param ["non-flat", "flat"]
code = ""#@param {type:"string"}
date = ""#@param {type:"string"}

params = {}
if code != "":
  params["code"] = code
if date != "":
  params["date"] = date

res = requests.get(f"{API_URL}/v1/fins/fs_details", params=params, headers=headers)

if res.status_code == 200:
  d = res.json()
  data = d["fs_details"]
  while "pagination_key" in d:
    params["pagination_key"] = d["pagination_key"]
    res = requests.get(f"{API_URL}/v1/fins/fs_details", params=params, headers=headers)
    d = res.json()
    data += d["daily_quotes"]
  if format_type == "non-flat":
    df = pd.DataFrame(data)
  else:
    df = pd.json_normalize(data)
  display(df)
else:
  print(res.json())